@namespace Juegardos.Website.Components

<div class="gameplay-container">
    <div class="gameplay-box">
        @if (_hardcodedGame == HardcodedGame.Connect4)
        {
            <Connect4 />
        }
        else if (_hardcodedGame == HardcodedGame.SamuraiApocalypse)
        {
            <SamuraiApocalypse />
        }
        else
        {
            <img src="@Game.Image" />
        }
    </div>
    <div class="gameplay-box-bar">
        <i class="material-symbols-outlined" @onclick="() => _howToPlayModal.Open()">help</i>
        <i class="material-icons-outlined">share</i>
        <span class="likes-bar">
            <i class="@(Game.UserLikeDecision == LikeDecision.Like ? "material-icons like selected" : "material-icons-outlined")" @onclick="() => ChangeLike(LikeDecision.Like)">thumb_up</i>           
            <i class="@(Game.UserLikeDecision == LikeDecision.Dislike ? "material-icons dislike selected" : "material-icons-outlined")" @onclick="() => ChangeLike(LikeDecision.Dislike)">thumb_down</i>
        </span>
        <Star Game="Game" />
        <i class="material-icons">open_in_full</i>
    </div>
</div>

<Modal Title="Cómo jugar" @ref="_howToPlayModal">
    <div class="how-to-play-modal">
        <h5>¿Qué tengo que hacer?</h5>
            <p>@Game.HowToPlay</p>
        <h5>Controles</h5>
        <ul>
            @foreach (var control in Game.Controls)
            {
                <li>@control</li>
            }
        </ul>
    </div>
</Modal>

@code {

    [Parameter]
    public Game Game { get; set; } = null!;

    private Modal _howToPlayModal = new();
    private HardcodedGame _hardcodedGame = HardcodedGame.None;

    protected override void OnParametersSet()
    {
        if (StringHelper.FormatToUrlName(Game.Name) == "4-en-linea")
            _hardcodedGame = HardcodedGame.Connect4;
        if (StringHelper.FormatToUrlName(Game.Name) == "samurai-apocalypse")
            _hardcodedGame = HardcodedGame.SamuraiApocalypse;
        else
            _hardcodedGame = HardcodedGame.None;
    }

    private void ChangeLike(LikeDecision newDecision)
    {
        if (Game.UserLikeDecision == newDecision)
            Game.UserLikeDecision = LikeDecision.None;
        else
            Game.UserLikeDecision = newDecision;
    }

    public enum HardcodedGame
    {
        None,
        Connect4,
        SamuraiApocalypse
    }

}
